/* Affichage générale */
html{
    -moz-tab-size:4;
    -o-tab-size:4;
    tab-size:4;
    line-height:1.15;
    -webkit-text-size-adjust:100%;
}body{
    margin:0;
    font-family:system-ui,-apple-system,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

/* Affichage de l'en-tête */
header{
    z-index:40;
    position:relative;
    --tw-bg-opacity: 1;
    background-color:rgba(255,255,255,var(--tw-bg-opacity));
}header .bandeau{
    max-width:80rem;
    margin-left:auto;
    margin-right:auto;
    padding-left:1rem;
    padding-right:1rem;
    padding-top:1.5rem;
    padding-bottom:1.5rem;
    display:flex;
    border-bottom-width:1px;
    --tw-border-opacity: 1;
    border-color:rgba(229,229,229,var(--tw-border-opacity));
    align-items:center;
    justify-content:space-between;
}

.sous{
    display : none;
  }
  .deroulant:hover .sous {
    display: block;
    outline:2px solid transparent;
    outline-offset:2px;
    display:inline-flex;
    justify-content:center;
    align-items:center
  }



/* Affichage du pied de page */
footer{
    width:100%;
    position:relative;
    --tw-bg-opacity: 1;
    background-color:rgba(245,245,245,var(--tw-bg-opacity));
    border-top-width:1px;
    --tw-border-opacity: 1;
    border-color:rgba(229,229,229,var(--tw-border-opacity))
}



.w-full{
    width:100%
}.relative{
    position:relative
}.bg-gray-100{
    --tw-bg-opacity: 1;
    background-color:rgba(245,245,245,var(--tw-bg-opacity))
}.bg-gray-900{
    --tw-bg-opacity: 1;
    background-color:rgba(23,23,23,var(--tw-bg-opacity))
}.border-gray-200{
    --tw-border-opacity: 1;
    border-color:rgba(229,229,229,var(--tw-border-opacity))
}.border-t{
    border-top-width:1px
}.absolute{
    position:absolute
}.left-1\/2{
    left:50%
}.top-0{
    top:0px
}.transform{
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform:translate(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}.-translate-x-1\/2{
    --tw-translate-x: -50%
}.-translate-y-1\/2{
    --tw-translate-y: -50%
}.h-16{
    height:4rem
}.w-16{
    width:4rem
}.border{
    border-width:1px
}.flex{
    display:flex
}.items-center{
    align-items:center
}.justify-center{
    justify-content:center
}.sr-only{
    position:absolute;
    width:1px;
    height:1px;
    padding:0;
    margin:-1px;
    overflow:hidden;
    clip:rect(0,0,0,0);
    white-space:nowrap;
    border-width:0
}.max-w-7xl{
    max-width:80rem
}.mx-auto{
    margin-left:auto;
    margin-right:auto
}.py-12{
    padding-top:3rem;
    padding-bottom:3rem
}.px-4{
    padding-left:1rem;
    padding-right:1rem
}.sm\:px-6{
    padding-left:1.5rem;padding-right:1.5rem
}.lg\:py-16{
    padding-top:4rem;padding-bottom:4rem
}.lg\:px-8{
    padding-left:2rem;padding-right:2rem
}.xl\:grid{
    display:grid
}.xl\:grid-cols-4{
    grid-template-columns:repeat(4,minmax(0,1fr))
}.xl\:gap-8{
    gap:2rem
}.grid{
    display:grid
}.grid-cols-3{
    grid-template-columns:repeat(3,minmax(0,1fr))
}.gap-8{
    gap:2rem
}.col-span-2{
    grid-column:span 2 / span 2
}